<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>Imagenes</h1>
        </header>
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <img src="/img/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Honda_Civic_Type_R.jpg"
                 width="300" alt="Honda Civic Type R"/>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer><!-- comment -->
    </body>
</html>
