<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>iFrames</h1>
        </header>
        <aside>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de nuestro sitio web</p>
        </aside>
        <section>
            <h2>iFrames</h2>
            <article>
                <h3>Sitio Web Interno</h3>
                <iframe src="http://ufidelitas.ac.cr" height="400" width="1200">
                </iframe>
            </article>
            <article>
                <h3>YouTube</h3>
                <iframe width="1236" height="695"
                        src="https://www.youtube.com/embed/yScNIsLTLYA" title="POCOYO en ESPAÑOL - Juega en la Piscina">
                </iframe>
            </article>
            <article>
                <h3>Ubicanos</h3>
                <iframe src="https://www.google.com/maps/place/Universidad+Fid%C3%A9litas+%E2%80%A2+Heredia/@9.995467,-84.1799882,12z/data=!4m10!1m2!2m1!1suniversidad+fidelitas!3m6!1s0x8fa0faf89f62fc53:0x920a942930d65331!8m2!3d9.9916052!4d-84.143579!15sChV1bml2ZXJzaWRhZCBmaWRlbGl0YXOSAQp1bml2ZXJzaXR5qgFZEAEqGSIVdW5pdmVyc2lkYWQgZmlkZWxpdGFzKAAyHxABIhtIc4d7ftwOBU9pReWOWs7A8QRssC8TaRMH9yMyGRACIhV1bml2ZXJzaWRhZCBmaWRlbGl0YXPgAQA!16s%2Fg%2F11cmt02pqx?entry=ttu&g_ep=EgoyMDI1MDkxNy4wIKXMDSoASAFQAw%3D%3D">
                </iframe>
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer><!-- comment -->
    </body>
</html>
