<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Imagenes</h1>
        </header>
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section>
            <h2>Lunes</h2>
            <img src="/img/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="/img/martes.jpg" width="300" alt=""/>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;<!-- comment -->
        </footer>
    </body>
</html>
