<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1>Multimedia</h1>
        </header>
        <aside>
            <h1>Multimedia</h1>
            <p>Incorporaciòn de recursos multimedia en el sitio web...</p>
        </aside>
        <section>
            <h2>Uso de Multimedia</h2>
            <article>
                <h3>Musica Celta</h3>
                <audio controls>
                    <source src="/audios/musica.mp3" type="audio/mpeg">
                    Your browser does not support the <code>audio</code> tag.
                </audio>
            </article>
            <article>
                <h3>Pelicula de Accion</h3>
                <video width="320" height="240" controls>
                    <source src="/videos/torpedo.MOV" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
            </article>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer><!-- comment -->
    </body>
</html>
